h3{
    text-decoration: none;
   color: orange;
}

input{
padding-right:50%;    
}

table{
  border: 2.5px  ridge black;
  justify-content: center;
  align-items: center;
}

.center{
  display: flex;
  justify-content: center;
  align-items: center;
}

  .item{
      background-color: rgba(218, 107, 34, 0.8);
  }
  .itembg{

    background-color: rgba(255, 255, 255, 0.8);
  }
  .active{
    color: green;
    font-size: 1rem;
  }

 .btn {
    justify-content: center;
    background-color: gray;
    color: white;
    font-size: 10px;
    text-align: center;
    padding: 10px;
    border-color: gray;
  }
   .right{
    position: absolute;
    bottom: 8px;
    right: 16px;
    font-size: 18px;
  }

  .left{
    position: absolute;
    bottom: 8px;
    left: 16px;
    font-size: 18px;
  }

  Link{
    justify-content: center;
    background-color: gray;
    color: white;
    font-size: 10px;
    text-align: center;
    padding: 10px;
    border-color: gray;
  }

.p{
    padding-left:  1%;
}