h3{
    text-decoration: none;
   color: orange;
}

input{
padding-right:50%;    
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto auto;
    gap: 1px;
    padding: 10px;
   text-align: center;
   
  }
  
  .grid-container > div {
    font-size: 25px;
  }

  .item{
      background-color: rgba(218, 107, 34, 0.8);
      
      
  }
  .itembg{

    background-color: rgba(255, 255, 255, 0.8);
  }
  
  .item1 {
    grid-column-start: 1;
    grid-column-end: 1;
    
    
  }
  .item2{
    grid-column-start: 2;
    grid-column-end: 2;
    justify-content: center;
  }
  .item3{
    grid-column-start: 3;
    grid-column-end: 3;
    align-items: flex-start;
  }
  .item4{
    grid-column-start: 4;
    grid-column-end: 4;
    align-items: flex-start;
  }
  .item5{
    grid-column-start: 5;
    grid-column-end: 5;
    align-items: flex-start;
  }
  .item6{
    grid-column-start: 6;
    grid-column-end: 6;
    align-items: flex-start;
  }

  .active{
    color: green;
    font-size: 1rem;
  }

 .btn{
   
    justify-content: center;
    background-color: gray;
    color: white;
    font-size: 10px;
    text-align: center;
    padding: 10px;
    border-color: gray;
  }
   .right{
    position: absolute;
    bottom: 8px;
    right: 16px;
    font-size: 18px;
  }

  .left{
    position: absolute;
    bottom: 8px;
    left: 16px;
    font-size: 18px;
  }


.p{
    padding-left:  1%;
}